# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/

sqlite3/

StreamingAssets/


# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj


